[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"uvicorn[standard]" = {version="*", index="pypi"}
"celery[redis,msgpack]" = "*"

[dev-packages]
pytest = "^5.2"
isort = {extras = ["pyproject"], version = "^4.3.21"}
