[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://example.com/simple"
verify_ssl = true
name = "private"


[packages]
requests = "*"
"uvicorn[standard]" = {version="*", index="pypi"}
"celery[redis,msgpack]" = "*"
pipenv-poetry-migrate = {editable=true, git="https://github.com/yhino/pipenv-poetry-migrate.git", ref="master"}
"flask[dotenv,dev]" = {git = "https://github.com/pallets/flask.git", ref = "1.1.1"}

[dev-packages]
pytest = "^5.2"
isort = {extras = ["pyproject"], version = "^4.3.21"}
werkzeug = {extras = ["watchdog"]}

[scripts]
test = "pytest --verbose tests"
