name: Release

on:
  push:
    branches: [ main ]

jobs:
  release:
    if: contains(github.event.head_commit.message, ':bookmark:')
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"

    - name: Install poetry
      run: pipx install poetry

    - name: Semantic Release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        pip install python-semantic-release==7.34.6
        git config user.name github-actions
        git config user.email github-actions@github.com
        semantic-release publish -v DEBUG -D commit_author="github-actions <github-actions@github.com>"
